<a href="https://colab.research.google.com/github/mssamoilenko/AnlDataPract/blob/main/2labAnlData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Практична робота №1
# Тема: Регресійний аналіз.
# Мета: дослідження методів регресійного аналізу та побудова моделей лінійної, квадратичної й кубічної регресії для виявлення залежностей між змінними з використанням бібліотек Pandas, NumPy, Matplotlib і scikit-learn.
# Варіант №2
# Хід роботи
1. Збір данних відповідно мого варіанта це мають бути: Пасажирські авіаперевезення, а саме дальність і вартість перельоту між різними містами економ-класом. Я знайшла придатні до цього завдання данні на сайті Kaggle, ось посилання на датасет https://www.kaggle.com/datasets/shubhambathwal/flight-price-prediction?select=economy.csv. Далі я займуся підготовкою цих данних до аналізу.

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("economy.csv", header = None)
df

/tmp/ipython-input-373344982.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("economy.csv", header = None)

,0,1,2,3,4,5,6,7,8,9,10
0,date,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price
1,11-02-2022,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,21:05,Mumbai,"5,953"
2,11-02-2022,SpiceJet,SG,8157,06:20,Delhi,02h 20m,non-stop,08:40,Mumbai,"5,953"
3,11-02-2022,AirAsia,I5,764,04:25,Delhi,02h 10m,non-stop,06:35,Mumbai,"5,956"
4,11-02-2022,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,12:35,Mumbai,"5,955"
...,...,...,...,...,...,...,...,...,...,...,...
206770,31-03-2022,Vistara,UK,832,07:05,Chennai,13h 50m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,20:55,Hyderabad,"7,697"
206771,31-03-2022,Vistara,UK,832,07:05,Chennai,13h 50m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,20:55,Hyderabad,"7,709"
206772,31-03-2022,Vistara,UK,826,12:30,Chennai,20h 35m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,09:05,Hyderabad,"8,640"
206773,31-03-2022,Vistara,UK,822,09:45,Chennai,23h 20m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,09:05,Hyderabad,"8,640"
206774,31-03-2022,Vistara,UK,824,20:30,Chennai,24h 25m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,20:55,Hyderabad,"8,640"